.submit-wrapper {
  text-align: center;
  width: 100%;
}

#ask-question-submit {
  font-size: 1.4rem;
}

.ask-question-form {
  color: #964202;
}

.ask-header {
  padding: 1rem;
}

.ask-header p {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.question-form {
  text-align: left;
  margin-top: 1rem;
}

.form-title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

textarea.heading {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1.5rem;
  resize: none;
  color: #964202;
  margin-bottom: 1.5rem;
}

textarea.heading:focus {
  border: 2px solid #a8a8a8;
  outline: none;
}

.wrapper-class {
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
}

.editor-class {
  background-color: #f8ead8;
  padding: 5px 20px;
  border: 1px solid #ccc;
  min-height: 150px;
  overflow: hidden;
  font-size: 18px;
  cursor: text;
  color: #964202;
}

.toolbar-class {
  border: 1px solid #ccc;
  color: #964202;
}

.rdw-dropdown-selectedtext {
  color: #964202;
}

.question-success {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: justify;
}

.question-success a {
  color: #a7727d;
}

.question-success a:hover {
  color: #a4404a;
}
