.submit-wrapper {
  text-align: center;
  width: 100%;
}

#ask-question-submit {
  font-size: 1.4rem;
}

.ask-header {
  padding: 1rem;
}

.ask-header p {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.default-form {
  text-align: left;
  margin-top: 1rem;
}

.default-form p {
  margin: 0;
}

.form-title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

textarea.heading {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1.5rem;
  resize: none;
  color: #964202;
  margin-bottom: 1.5rem;
}

textarea.heading:focus {
  border: 2px solid #a8a8a8;
  outline: none;
}

.wrapper-class {
  border: 1px solid #ccc;
  margin-bottom: 1.5rem;
}

.editor-class {
  background-color: #f8ead8;
  padding: 5px 20px;
  border: 1px solid #ccc;
  min-height: 150px;
  overflow: hidden;
  font-size: 18px;
  cursor: text;
  color: #964202;
}

.toolbar-class {
  border: 1px solid #ccc;
  color: #964202;
}

.rdw-dropdown-selectedtext {
  color: #964202;
}

.message-success {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: justify;
}

.message-success a {
  color: #a7727d;
}

.message-success a:hover {
  color: #a4404a;
}

.poll-answers .add-answer-form {
  /* width: 75%; */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.poll-answers input {
  width: 50%;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #964202;
  margin-bottom: 1.5rem;
  margin-right: 5px;
}

.poll-answers .add-answer-form:last-child input {
  margin-bottom: 0;
}

.poll-answers input:focus {
  border: 2px solid #a8a8a8;
  outline: none;
  box-shadow: 0 0 0;
  color: #964202;
}

.add-answer {
  /* background-color: red; */
  text-align: center;
  margin-top: 1.5rem;
  /* width: 60%; */
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

.add-answer-icon {
  display: inline-block;
  margin-right: 0.7rem;
  cursor: pointer;
}

.add-answer-text {
  display: inline-block;
  cursor: pointer;
}

.add-answer-text:hover {
  color: #631000;
}

.add-answer-form span {
  cursor: pointer;
}

@media (max-width: 768px) {
  .poll-answers .add-answer-form {
    width: 100%;
  }

  .poll-answers input {
    width: 85%;
  }
}
