.home {
  margin-left: 1rem;
}

a:has(button) {
  text-decoration: none;
}

a:has(button):hover {
  color: #4a524c;
}

.navbar-right {
  padding-right: 5rem;
}

.login-button {
  margin-right: 1.4rem;
}

.button-custom {
  background-color: #eddbc7;
  padding: 0.5rem 0.9rem;
}

.button-custom:hover {
  background-color: #dccab6;
  border-color: #a7727d;
}

.logout {
  color: rgb(220, 202, 182);
  font-size: 1.4rem;
  border: 1px solid rgb(220, 202, 182);
  margin-left: 1rem;
}

.logout:hover {
  color: #fa6f05;
  font-size: 1.4rem;
  border: 1px solid #fa6f05;
  margin-left: 1rem;
}

@media (max-width: 992px) {
  .home {
    margin-left: 0;
  }

  .navbar-right {
    padding-right: 0;
  }

  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 100%;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar-nav > li > a {
    border-bottom: 2px solid #dccab6;
  }
}
