.filterbar {
  background-color: #eddbc7;
  color: #964202;
  padding: 1rem 1rem 0 1rem;
}

.filter-block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 4px solid transparent;
  padding-bottom: 1rem;
}

.filter-block:hover,
.underlined {
  border-bottom: 4px solid #a7727d;
  cursor: pointer;
}

.badge {
  color: #964202;
  font-size: 1.2rem;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

#recommended:hover {
  border-bottom: 4px solid transparent;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  background-color: #a7727d;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-1
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #fff;
}

.question-btn:hover {
  border-bottom: 4px solid transparent;
  cursor: default;
}

.ask-question {
  background-color: #a7727d;
}

@media (max-width: 1200px) {
  .badge {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .badge {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .badge {
    font-size: 1.2rem;
  }

  #recommended {
    padding: 0;
  }

  .question-btn {
    margin-top: 1rem;
  }
}
