.main-content {
  padding-bottom: 9rem;
}

.question-box {
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.author {
  text-align: left;
  font-size: 1.4rem;
}

.categories {
  text-align: right;
  font-size: 1.1rem;
  color: #888585;
}

.date {
  font-size: medium;
  color: #797979;
}

.question-box .question-heading {
  text-align: justify;
  font-size: 2rem;
}

.question-box .question-heading a {
  color: #964202;
}

.question-box .question-heading a:hover {
  color: #6b3b01;
  letter-spacing: 2px;
}

.question-box .question-description {
  text-align: justify;
  font-size: 1rem;
  margin: 0;
  color: #975313;
  padding: 0.5rem 0;
  border-top: 2px dashed #797979;
}

.question-box .question-description a {
  color: #975313;
  text-decoration: underline;
}

.question-box .question-description a:hover {
  letter-spacing: 2px;
}

.question-box .question-description img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.question-footer {
  background-color: #dccab6;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.question-info {
  width: 100%;
  background-color: #eddbc7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  color: #797979;
  text-align: center;
}

.question-info img {
  margin-right: 5px;
}

.question-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.like-question {
  cursor: pointer;
  font-size: 1.3rem;
  width: 60%;
  padding: 10px 0;
}

.like-question:hover,
.liked-question {
  background-color: #facb92;
  color: #6b3b01;
}

.answer-note {
  font-size: 2rem;
  margin-top: 4rem;
  color: #6b3b01;
  text-align: center;
}

@media (max-width: 768px) {
  .author {
    text-align: center;
  }

  .categories {
    text-align: center;
    padding-top: 0.9rem;
  }

  .question-info {
    width: 40%;
  }

  .like-question {
    width: 100%;
  }
}
